<div class="s16_choose_what_to_design_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>01</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>What do you want to design?</p>
    </div>
    <div class="col-12 h70 main">
        <div class="col-12 h10"></div>
        <div class="col-12 h20" ng-repeat="category in categories">
            <a ng-click="chooseCategory(category)">
            <img ng-src="{{img_path + category.icon}}" alt="{{category.name}}" style="height:52px; width: 52px;">
            <h2>{{category.name}}</h2>
            </a>
        </div>
        <div class="col-12 h20">
            <a href="#chooseoccassion">
                <img src="img/icon_occasions.svg" alt="Occasions">
                <h2>Occasions</h2>
            </a>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>