<div class="s69_forgot_password h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Log In</h1>
        </div>
    </div>
    <div class="col-12 h5 marble">
        <h2>Forgot your Password?</h2>
    </div>
    <div class="col-12 h70 main">
        <div class="h100">
            <p>Enter your email bellow to receive your password reset instructions.</p>
            <form ng-submit="passwordRecover(user)">
                <span class="form_user"><img src="img/icon_user.svg" alt="Username">
                  <input class="app_form user" type="text" placeholder="Email" ng-model="user.email">
                </span>
                <button class="btn-fill-lightgray-lg" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div ng-include="'partials/menu_contact.html'"></div> 
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>