<div class="s26_adjust_measure h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>    
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>03</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Last chance to adjust your measures</p>
    </div>
    <div class="col-12 h70 main">
        <div class="col-7 h100 clothes-side">
            <div class="clothes-box h100 col-12">
                <img class="clothe-align-2" ng-src="{{img_path + model.image_front}}" alt="Clothes">
            </div>
        </div>
        <div class="col-5 h100 desc-side">
            <h3>Adjust your measures on the fields bellow.</h3>
            <div class="measure-data">
                <div class="col-4"><p>Chest</p></div> 
                <div class="col-8"><input id="number" type="number" ng-value="model.chest" ng-model="model.chest"></div>
                <div class="col-4"><p>Waist</p></div>
                <div class="col-8"><input id="number" type="number" ng-value="model.waist" ng-model="model.waist"></div>
                <div class="col-4"><p>Hip</p></div>
                <div class="col-8"><input id="number" type="number" ng-value="model.hip" ng-model="model.hip"></div>
                <div class="col-4"><p>Length</p></div>
                <div class="col-8"><input id="number" type="number" ng-value="model.length" ng-model="model.length"></div>
            </div>
            <button class="size-confirm" type="submit" ng-click="confirmAdjustSize()">Done</button>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>