<div class="s30_visitor_checkout_1 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <form ng-submit="saveAddress(address, billing)">
            <div class="col-12 profile_label">
                <p>Delivery Address</p>
            </div>
            <div class="form-box col-12">
                <div class="col-12">
                    <input class="app_form" type="text" placeholder="Address 1" ng-model="address.address" ng-value="address.address" required>
                </div>
                <div class="col-12">
                    <input class="app_form" type="text" placeholder="City" ng-model="address.city" ng-value="address.city" required>
                </div>
                
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Postal Code" ng-model="address.postal_code" ng-value="address.postal_code" required>
                </div>
                <!--<div class="col-6">
                    <select class="app_form" name="delivery-select-country" ng-model="address.country">
                        <option ng-repeat="c in country" value="{{c.code}}">{{c.name}}</option>
                    </select>
                </div>-->
                <div class="col-6 delivery-select-canada">
                    <select class="app_form" ng-model="address.province">
                        <option ng-repeat="p in province" value="{{p.code}}">{{p.name}}</option>
                    </select>
                </div>
                <!--<div class="col-6 delivery-select-usa">
                    <select class="app_form" ng-model="address.state">
                        <option ng-repeat="s in state" value="{{s.code}}">{{s.name}}</option>
                    </select>
                </div>-->
                <!--
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Province" ng-model="address.province" ng-value="address.province" required>
                </div>
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Country" ng-model="address.country" ng-value="address.country" required>
                </div>
                -->
            </div>
            <div class="col-12 profile_label">
                <p>Billing Address</p>
            </div>
            <div class="form-box col-12">
                <div class="col-12 form-checkbox">
                    <label class="container">Same as delivery address
                    <input class="same-address" type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
                </div>
            </div>
            <div class="form-box not-same col-12">
                <div class="col-12">
                    <input class="app_form" type="text" placeholder="Address 1" ng-model="billing.address" ng-value="billing.address">
                </div>
                <div class="col-12">
                    <input class="app_form" type="text" placeholder="City" ng-model="billing.city" ng-value="billing.city">
                </div>
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Postal Code" ng-model="billing.postal_code" ng-value="billing.postal_code">
                </div>
                <!--<div class="col-6">
                    <select class="app_form" name="billing-select-country" ng-model="billing.country">
                        <option ng-repeat="c in country" value="{{c.code}}">{{c.name}}</option>
                    </select>
                </div>-->
                <div class="col-6 billing-select-canada">
                    <select class="app_form" ng-model="billing.province">
                        <option ng-repeat="p in province" value="{{p.code}}">{{p.name}}</option>
                    </select>
                </div>
                <!--<div class="col-6 billing-select-usa">
                    <select class="app_form" ng-model="billing.state">
                        <option ng-repeat="s in state" value="{{s.code}}">{{s.name}}</option>
                    </select>
                </div>-->
                <!--
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Province" ng-model="billing.province" ng-value="billing.province">
                </div>
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Country" ng-model="billing.country" ng-value="billing.country">
                </div>
                -->
            </div>
            <div class="form-box col-12 form-next">
                <button class="btn-fill-lightgray-sm" type="submit">
                    Next <img src="img/icon_foward.png" alt="Foward">
                </button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>