<div class="s46_edit_profile h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Edit Profile</h1>
        </div>
        <div class="col-2 h100 aux-left">
            <a class="user-menu-pill">
                <img src="img/icon_tools.jpg" alt="Tools">
            </a>
        </div>
    </div>
    <div class="col-12 h75 main profile">
        <div class="col-12 profile_header">
           <div class="img-box">
               <img class="user_large" src="{{user.profile_pic}}" alt="User" 
                ng-show="user.profile_pic != null && user.profile_pic != undefined">
           </div>
            <label for="file" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Change Profile Photo
            </label>
            <input id="file" type="file" accept="image/*" class="change_photo">

        </div>
        <form ng-submit="edit(user, address)">
            <div class="col-12 form_line">
                <div class="col-4 title">
                    <p>First Name:</p>
                </div>
                <div class="col-8">
                    <input type="text" ng-model="user.first_name" ng-value="user.first_name">
                </div>
            </div>
            <div class="col-12 form_line">
                <div class="col-4 title">
                    <p>Last Name:</p>
                </div>
                <div class="col-8">
                    <input type="text" ng-model="user.last_name" ng-value="user.last_name">
                </div>
            </div>
            <div class="col-12 form_line">
                <div class="col-4 title">
                    Email:
                </div>
                <div class="col-8">
                    <input type="text" ng-value="user.email" disabled>
                </div>
            </div>
            <div class="col-12 form_line">
                <div class="col-4 title">
                    Phone:
                </div>
                <div class="col-8">
                    <input type="text" ng-model="user.phone" ng-value="user.phone">
                </div>
            </div>
            <div class="col-12 form_line">
                <div class="col-4 title">
                    Address:
                </div>
                <div class="col-8 address">
                    <input type="text" class="col-12" placeholder="Address 1" ng-model="address.address" ng-value="address.address">
                    <input type="text" class="col-12" placeholder="City" ng-model="address.city" ng-value="address.city">
                    <select class="app_form" ng-model="address.province">
                        <option ng-repeat="p in province" value="{{p.code}}">{{p.name}}</option>
                    </select>
                    <input type="text" class="col-12" placeholder="Country" ng-model="address.country" ng-value="address.country" disabled>
                    <input type="text" class="col-12" placeholder="Postal Code" ng-model="address.postal_code" ng-value="address.postal_code">      
                </div>
            </div>
            <div class="col-12 btn_line">
                <button class="btn-fill-lightgray-sm" type="submit">Done</button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_dashboard.html'"></div>    
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
