<div class="s59_help h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Help</h1>
        </div>
        <div class="col-2 h100 aux-left">
            <a class="user-menu-pill">
                <img src="img/icon_tools.jpg" alt="Tools">
            </a>
        </div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Check our FAQ or send a message</p>
    </div>
    <div class="col-12 h70 main terms">
        <h1>1. Can I do this?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero eu leo dictum iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mollis dapibus diam, eget pharetra arcu pharetra quis.</p>
        <h1>1. Can I do this?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero eu leo dictum iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mollis dapibus diam, eget pharetra arcu pharetra quis.</p>
        <h1>1. Can I do this?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero eu leo dictum iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mollis dapibus diam, eget pharetra arcu pharetra quis.</p>
        <h1>1. Can I do this?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero eu leo dictum iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mollis dapibus diam, eget pharetra arcu pharetra quis.</p>
        <h1>1. Can I do this?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget libero eu leo dictum iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec mollis dapibus diam, eget pharetra arcu pharetra quis.</p>
    </div>
    <div ng-include="'partials/menu_contact.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>