<div class="s31_visitor_checkout_2 h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <form ng-submit="shippingType(shippingtype)">
            <div class="col-12 profile_label">
                <p>Shipping</p>
            </div>
            <div class="form-box col-12">
                    <div class="col-9">
                        <input type="radio" id="standart" ng-model="shippingtype" value="standard" name="radio-group" checked>
                        <label for="standart">STANDART - 5 - 7 business days</label>
                    </div>
                    <div class="col-3">$ 14.95</div>
                    <div class="col-9">
                        <input type="radio" id="fast" ng-model="shippingtype" value="fast" name="radio-group">
                        <label for="fast">EXPRESS - Get in the next day</label>
                    </div>
                    <div class="col-3">$ 35.00</div>
            </div>
            <div class="form-box col-12 form-next">
                <button class="btn-fill-lightgray-sm" type="submit">Next <img src="img/icon_foward.png" alt="Foward"></button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
