<div class="s27_done h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>03</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Wow, you're done! Great Job!</p>
    </div>
    <div class="col-12 h70 main">
    <div class="col-6 h100 clothes-side">
        <div class="clothes-box h100 col-12">
            <img class="clothe-align-2" src="{{img_path + model.image_front}}" alt="Clothes">
        </div>
    </div>
    <div class="col-6 h100 desc-side">
        <div class="h25">
        <h3>{{clothes.name}}</h3>
        <h4>{{fabric.name}}</h4>
        <h5>Your Measures are:</h5>
        </div>
        <div class="h45">
            <div class="measure-data">
            <div class="col-12"><p class="pleft">Chest</p><p class="pright">{{model.chest}}</p></div>
            <div class="col-12"><p class="pleft">Waist</p><p class="pright">{{model.waist}}</p></div>
            <div class="col-12"><p class="pleft">Hip</p><p class="pright">{{model.hip}}</p></div>
            <div class="col-12"><p class="pleft">Length</p><p class="pright">{{model.length}}</p></div>
        </div>
        <div class="clear"></div>
        </div>
        <div class="h15">
            <a class="btn-stroke-golden-lg" ng-click="addToCart()">Add to Cart</a>
        </div>
        <div class="h15">
            <a class="btn-fill-lightgray-lg" type="button" ng-click="saveToCloset()" ng-show="user.logged">
                Save to Closet <img src="img/icon_closet_sm.svg" alt="Closet">
            </a>
        </div>
    </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>
