<div class="s33_visitor_checkout_4 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div> 
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Check Out</h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h75 main">
        <form class="col-12 h100" ng-submit="charge()">
            <div class="col-12 h10">
                <div class="col-12 profile_label">
                    <p>Payment</p>
                </div>
            </div>
            <div class="col-12 form-box h20">
                <div class="col-12 card-number">
                    <div class="col-12">
                        <h2>Card Number</h2>
                    </div>
                    <div class="col-12 number-box">
                        <div class="col-10">
                            <div class="col-12">
                                <input class="app_card cardNumber" type="number" ng-model="payment.card">
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="img/icon_card.svg" alt="Credit Card">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 form-box h20">
                <div class="col-4 card-mm">
                    <div class="col-12">
                        <h2>MM YY <a class="mm-info ch1-modal">i</a></h2>
                    </div>
                    <div class="col-6">
                        <input class="app_card pleft divider mmyy" type="number" ng-model="payment.exp_month">
                    </div>
                    <div class="col-6">
                        <input class="app_card pleft mmyy" type="number" ng-model="payment.exp_year">
                    </div>
                </div>
                <div class="col-4 card-cvs">
                    <h2>CVS CODE <a href="#" class="mm-info ch2-modal">i</a></h2>
                    <div class="col-12">
                        <input class="app_card pleft cvs" type="number" ng-model="payment.cvs">
                    </div>
                </div>
            </div>
            <div class="col-12 form-box h20" ng-show="user.logged">
                <div class="col-12 card-name">
                    <div class="col-12">
                        <h2>Name</h2>
                    </div>
                    <div class="col-12">
                        <input class="app_card pleft" type="text" ng-model="user.first_name">
                    </div>
                </div>
            </div>
            <div class="col-12 form-box h20 email-box" ng-show="!user.logged">
                <p>We will use your email <strong>only</strong> to send an invoice for this purchase</p>
                <input class="app_form" type="text" placeholder="Email" ng-model="payment.email">
            </div>
            <div class="col-12 h10 form-next">
                <button class="btn-fill-lightgray-sm" type="submit">
                    Next <img src="img/icon_foward.png" alt="Foward"></button>
            </div>
        </form>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
    <div ng-include="'partials/alert.html'"></div>
    <!-- CH-1 MODAL -->
    <div class="ch1-window" id="ch1-window">
        <a href="#" class="ch1-close">
            <img src="img/icon_close.jpg" alt="Close">
        </a>
        <div class="col-12">
            <p>
            <img src="img/card-help-1.jpg" alt="Card Help">
            </p>
        </div>
    </div>
    <div id="ch1-mask"></div>
    <!-- CH-1 MODAL -->
    <!-- CH-2 MODAL -->
    <div class="ch2-window" id="ch2-window">
        <a href="#" class="ch2-close">
            <img src="img/icon_close.jpg" alt="Close">
        </a>
        <div class="col-12">
            <p>
                <img src="img/card-help-2.jpg" alt="Card Help">
            </p>
        </div>
    </div>
    <div id="ch2-mask"></div>
    <!-- CH-2 MODAL -->
</div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>