<!-- CONFIRMATION MODAL -->
<div class="confirmation-window" id="confirmation-window">
    <div class="col-12">
        <p>Are you sure you want to leave? The data will be lost!</p>
        <a href="{{page}}">Yes</a>
        <a class="confirmation-no">No</a>
    </div>
</div>
<div id="confirmation-mask"></div>
<!-- CONFIRMATION MODAL -->
<script src="js/main.js"></script>