    <div class="s58_terms h100">
        <div class="col-12 h15 header">
            <div class="arrow h100">
                <a ng-click="back()">
                    <img src="img/icon_arrow.svg" alt="Back">
                </a>
            </div>
            <div class="col-12 h100 main-title">
                <h1>Terms</h1>
            </div>
            <div class="col-2 h100 aux-left">
                <a class="user-menu-pill">
                    <img src="img/icon_tools.jpg" alt="Tools">
                </a>
            </div>
        </div>
        <div class="col-12 h5 profile_label">
            <p>Terms and Conditions</p>
        </div>
        <div class="col-12 h70 main terms">
            <h3>Terms of Use</h3>
            <p>Welcome to MyDesign by Pink Martini. MyDesign by Pink Martini provides this site as
            a service to its customers. Please review the following basic rules that govern your use of
            our site. Please note that your use of MyDesign by Pink Martini constitutes your
            agreement to follow and be bound by these terms. If you do not agree to these terms,
            please do not use our site.</p>
            <h3>Site Contents</h3>
            <p>Occasionally there may be information on MyDesign by Pink Martini that contains
            typographical errors, inaccuracies, or omissions on product descriptions, pricing, and
            availability. We reserve the right to correct any errors, and to change or update
            information at any time without prior notice (including after you have submitted your
            order). We apologize for any inconvenience this may cause you.
            Unless otherwise noted, all materials, including images, illustrations, designs,
            photographs, written and other materials that are part of this website are copyrights,
            trademarks and/or intellectual property owned by MyDesign by Pink Martini. The site as
            a whole is protected by international copyright laws. This site and all its contents are
            intended solely for personal, non-commercial use. You may download or copy the
            contents for your personal use only. No right, title or interest in any downloaded
            materials is transferred to you as a result of downloading or copying.
            User Comments, Feedback, Postcards And Other Submissions
            All comments, feedback, images, photographs, suggestions, ideas, and other submissions
            submitted or offered to MyDesign by Pink Martini is the property of MyDesign by Pink
            Martini.</p>
            <h3>Product Information &amp; Colors</h3>
            <p>The MyDesign by Pink Martini products displayed on the site are quoted in Canadian
            Dollars and are valid and effective only in Canada.
            MyDesign by Pink Martini has made every effort to display as accurately as possible the
            colors of our products that appear at the site. However, as the actual colors you see will
            depend on your monitor, we cannot guarantee that your monitor’s display of any color
            will be accurate.</p>
            <h3>Returns &amp; Exchanges</h3>
            <p>As all MyDesign by Pink Martini garments are made-to- order, all sales are final.  Any
            unwashed &amp; unworn garments are eligible for an exchange within 14 days of your orders
            delivery.  All garments are made at the MyDesign by Pink Martini studio and are fully
            inspected before shipping. If we have missed a flaw or damaged portion of your garment,
            please make all requests for a free repair, by email to:
            <a href="mailto:mydesign@pinkmartinicollection.com">mydesign@pinkmartinicollection.com</a> Returned garments will not be accepted without
            prior authorization or show any signs of wash or wear.</p>
        </div>
        <div ng-include="'partials/menu_contact.html'"></div>
    </div>
    <div ng-include="'partials/alert.html'"></div>
    <div ng-include="'partials/user_menu.html'"></div>
    <script type="text/javascript" src="js/owl.carousel.js"></script>
    <script type="text/javascript" src="js/main.js"></script>