<ion-view title="" id="light-background" hide-nav-bar="false">
    <ion-content>
      <div  class="logo-welcome"></div>
      <div class="row responsive-sm">
        <div class="padding">
          <h2 class="title text-center">A new version is available</h2>
          <p class="gray text-center">Please, download the last version for new features and bug fixes.</p>
        </div>
      </div>
    </ion-content>
</ion-view>
