<div class="s15_choose_shape_2 h100">
    <div class="loading">
        <div class="loading-box">
            <img src="img/load.gif" alt="Loading">
            <h4>Just a sec...</h4>
        </div>
    </div>    
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Step <span>01</span></h1>
        </div>
        <div ng-include="'partials/cart_icon.html'"></div>
    </div>
    <div class="col-12 h5 profile_label">
        <p>Is this your shape?</p>
    </div>
    <div class="col-12 h70 main">
        <div class="col-12 h100 item">
            <div class="col-12 h85">
                <img ng-src="{{ img_path + shape.image }}" class="model" alt="Model">
            </div>
            <div class="col-12 h15">
                <img ng-src="{{ img_path + shape.icon }}" class="icon" alt="{{shape.name}}">
                <a ng-click="saveShape(shape)" class="shape-yes">Yes</a>
                <a ng-click="back()" class="shape-no">No</a>
            </div>
        </div>
    </div>
    <div ng-include="'partials/menu_design.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>