<div class="s11-2_visitor_dashb h100">
        <div class="loading">
            <div class="loading-box">
                <img src="img/load.gif" alt="Loading">
                <h4>Just a sec...</h4>
            </div>
        </div> 
        <div class="col-12 h15 header">
            <div class="col-12 h100 logo">
                <img class="main-logo" src="img/main_logo.svg" alt="My Design App">
            </div>
        </div>
        <div class="col-12 h15 main visitor-toolbar">
            <div class="col-4">
                <a href="#withoutlogin">
                    <img src="img/icon_closet_sm.svg" alt="Closet">
                    <h3>Closet</h3>
                </a>
            </div>
            <div class="col-4">
                <a href="#withoutlogin">
                    <img src="img/icon_user_sm.svg" alt="Profile">
                    <h3>Profile</h3>
                </a>
            </div>
            <div class="col-4">
                <a href="#shareapp">
                    <img src="img/icon_share.png" alt="Share">
                    <h3>Sharing</h3>
                </a>
            </div>
        </div>
        <div class="col-12 h30 main visitor-buttons">
            <button class="btn-stroke-golden-bk-lg" type="button" ng-click="chooseShape()">Design Now!</button>
            <a href="#signup" class="btn-stroke-golden-bk-thin-lg" type="button">Create an Account</a>
        </div>
        <div class="col-12 h30 main visitor-latest">
           <h2>Check Out the latest</h2>
           <div class="list">
            <a class="twitter-timeline" href="https://twitter.com/mydesignapp" data-tweet-limit="3">
               Tweets by @mydesignapp
             </a>
            </div>
        </div>
    <div ng-include="'partials/menu_dashboard.html'"></div>
</div>
<div ng-include="'partials/alert.html'"></div>
<div ng-include="'partials/user_menu.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>