<div class="s08_sign_up h100">
    <div class="col-12 h15 header">
        <div class="arrow h100">
            <a ng-click="back()">
                <img src="img/icon_arrow.svg" alt="Back">
            </a>
        </div>
        <div class="col-12 h100 main-title">
            <h1>Sign Up</h1>
        </div>
        <div class="col-2 h100 aux-left">
            <a href="#signin">
                <img src="img/icon_login.svg" alt="Login">
            </a>
        </div>
    </div>
    <div class="col-12 h75 main">
        <div class="h100">
            <form ng-submit="emailSignUp(user)">
                <div class="col-6"><input class="app_form" type="text" placeholder="First Name" ng-model="user.first_name"></div>
                <div class="col-6">
                    <input class="app_form" type="text" placeholder="Last Name" ng-model="user.last_name">
                </div>
                <div class="col-12">
                    <input class="app_form" type="text" placeholder="Email" ng-model="user.email">
                </div>
                <div class="col-12">
                    <input class="app_form" type="password" placeholder="Password" ng-model="user.password">
                </div>
                <div class="col-12">
                    <input class="app_form" type="password" placeholder=" Confirm Password" ng-model="user.confirm_password">
                </div>
                <div class="col-12">
                    <label class="container">I agree to allow MyDesign to email me special offers and promotions to wich I can opt out anytime
                  <input type="checkbox" checked="checked" ng-model="user.is_subscriber">
                  <span class="checkmark"></span>
                </label>
                </div>
                <div class="col-12">
                    <label class="container">I agree with Terms and Conditions
                  <input type="checkbox" checked="checked" required ng-model="user.agreed">
                  <span class="checkmark"></span>
                </label>
                </div>
                <div class="col-12">
                    <button class="btn-fill-lightgray-lg" type="submit">Create Account</button>
                </div>
            </form>
            <div class="clear"></div>
            <h3>Or</h3>
            <button class="btn-fill-fb-md" type="button" ng-click="fbLogin()">Login with Facebook</button>
        </div>
    </div>
</div>
<div ng-include="'partials/alert.html'"></div>
<script type="text/javascript" src="js/owl.carousel.js"></script>
<script type="text/javascript" src="js/main.js"></script>